.classpath
.project
.settings/
nbproject
target/
build/
tmp/
temp/
.gradle/
.svn/
.metadata/
osgi/configuration/org.eclipse.osgi/
nb-configuration.xml
nbactions.xml
*~
ua_repo.dat
pom.xml.versionsBackup
pom.xml.releaseBackup
timeSeriesConf.xml
release.properties
slotsdbdata/
data
SiteBuilder/
site-builder/
.recommenders/
ION7550-console/
ION7550-hldriver/
*.swp

